# Auth Service
AUTH_PORT=8081
AUTH_DB_DSN=postgres://auth_user:password@localhost:5433/auth_db?sslmode=disable

# Core Service
CORE_PORT=8080
CORE_DB_DSN=postgres://core_user:password@localhost:5434/core_db?sslmode=disable

# Для JWT (подпись токенов)
JWT_SECRET=your_very_long_random_jwt_secret_here_32bytes_min

# Для паролей (перец, добавляется к паролю перед хешированием)
PASSWORD_PEPPER=another_completely_different_random_pepper_string